<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.min.js"></script>
<script type="text/javascript" src="/javascripts/app_tv.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/foundation.min.css' />
<link rel='stylesheet' href='/stylesheets/foundation.css' />
<div class="container_apptv">
	<!--
	<div class="banner_app_tv">
		<div class="logo_chevrolet text-left">
			<img src="/images/logo-chevrolet.png">
		</div>
		<div class="logo_chevrolet text-right">
			<img src="/images/logo-vend-chevrolet.png">
		</div>
	</div>
	-->
	<h1 class="ultimo_turno gris">ÚLTIMO TURNO</h1>
	<div class="lista_peticiones">
	<!--
		<div class="item">
			<div class="logo_chevrolet">
				<h1 class="subtitle_apptv">CONCESIONARIO</h1>
				<h1 class="title_apptv concesionario">SAN JORGE</h1>
			</div>
			<div class="logo_chevrolet text-right">
				<h1 class="subtitle_apptv">DESTINO</h1>
				<h1 class="title_apptv carro">SPARK GT</h1>
			</div>
		</div>
		<div class="item">
			<div class="logo_chevrolet">
				<h1 class="subtitle_apptv">CONCESIONARIO</h1>
				<h1 class="title_apptv">SAN JORGE</h1>
			</div>
			<div class="logo_chevrolet text-right">
				<h1 class="subtitle_apptv">DESTINO</h1>
				<h1 class="title_apptv">SPARK GT</h1>
			</div>
		</div>
		<div class="item">
			<div class="logo_chevrolet">
				<h1 class="subtitle_apptv">CONCESIONARIO</h1>
				<h1 class="title_apptv">SAN JORGE</h1>
			</div>
			<div class="logo_chevrolet text-right">
				<h1 class="subtitle_apptv">DESTINO</h1>
				<h1 class="title_apptv">SPARK GT</h1>
			</div>
		</div>
	-->
	</div>
</div>
