<!DOCTYPE html>
<html class="dashbody">
  <head>
    <title>Dashboard</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/underscore.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/foundation.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/foundation.min.css' />
    <link rel='stylesheet' href='/stylesheets/foundation.css' />
    <script type="text/javascript" src="/javascripts/app_dashboard.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="Dashboard" class="dashbody">
    <div class="datos_now db" ng-controller="DatosNowCtrl">
      <div class="row" >
        <div class="large-4 column">
          <h6 class="fecha text-center bold">{{data.date}}</h6>
          <h5 class="text-center mayusculas titulo-dashboard">Personas que han entrado hoy</h5>
          <hr class="bg-negro">
          <p class="dato_dashboard text-center">
            {{data.in_total}}
          </p>
        </div>
<!--
       <div class="large-4 column">
          <h6 class="fecha text-center bold">{{data.date}}</h6>
          <h5 class="text-center mayusculas titulo-dashboard">Personas que estan adentro</h5>
          <hr class="bg-negro">
          <p class="dato_dashboard text-center">
            {{data.in}}
          </p>
        </div>
-->

	<div class="large-5 column">
		<h6 class="fecha text-center bold">{{data.date}}</h6>
		<h5 class="text-center mayusculas titulo-dashboard">Carro más consultado</h5>
		<hr class="bg-negro">

		<ul ng-repeat="car in cars">
			<li>{{car._id | uppercase}} - {{car.total_sells}}</li>
		</ul>
		<!--<p class="text-center">
			{{data.car_call.name}}
		</p>-->
	</div>
        <div class="large-3 column">
          <h6 class="fecha text-center bold">{{data.date}}</h6>
          <h6 class="text-center mayusculas titulo-dashboard">Veces que han llamado al vendedor</h6>
          <hr class="bg-negro">
          <p class="dato_dashboard text-center">
            {{data.calls}}
          </p>

  <p>
      <div>
          Efectividad sobre entradas
      </div>
      <div>
        {{(data.calls*100)/data.in_total}} %
      </div>
    
    </p>

        </div>
      </div>
      <br>
      <br>
      <div class="row" >
        <div class="large-4 column">
          <h6 class="fecha text-center bold">{{data.date}}</h6>
          <h5 class="text-center mayusculas titulo-dashboard">Ventas realizadas</h5>
          <hr class="bg-negro">
          <p class="dato_dashboard text-center">
            {{data.sells}}
          </p>

          <p>
          <div>
              Efectividad sobre entradas
          </div>
          <div>
            {{(data.sells*100)/data.in_total}} %
          </div>
          <br>
        </p>
	       <p>
          <div>
            Efectividad sobre llamadas
          </div>
          <div>
            {{(data.sells*100)/data.calls}} %
          </div>		
	       </p>



        </div>


        <div class="large-4 column">
          <h6 class="text-center mayusculas titulo-dashboard">VENDEDOR CON MÁS VENTAS</h6>
          <hr class="bg-negro">
          <ul ng-repeat="seller in sellers">
            <li>{{seller.name}} - {{seller.units}}</li>
          </ul>
        </div>
	<div class="large-4 column">
		<h6 class="text-center mayusculas titulo-dashboard">CARRO MÁS VENDIDO</h6>
		<hr class="bg-negro">
		<ul ng-repeat="car_sell in car_sells">
			<li>{{car_sell._id | uppercase}} - {{car_sell.total_sells}}</li>
		</ul>
	</div>

<!--
        <div class="large-4 column">
          <h6 class="fecha text-center bold">{{data.date}}</h6>
          <h5 class="text-center mayusculas titulo-dashboard">Concesionario mas ventas</h5>
          <hr class="bg-negro">
          <p class="dato_dashboard_largo text-center mayusculas">
            {{data.consecionario.name}}
          </p>
          <hr class="bg-negro">
          <h5 class="text-center mayusculas">
            {{data.consecionario.units}} unidades
          </h5>
        </div>
        <div class="large-4 column">
          <h6 class="fecha text-center bold">{{data.date}}</h6>
          <h5 class="text-center mayusculas titulo-dashboard">Vendedor con mas ventas</h5>
          <hr class="bg-negro">
          <p class="dato_dashboard_largo text-center mayusculas">
            {{data.seller.name}}
          </p>
          <hr class="bg-negro">
          <h5 class="text-center mayusculas">
            {{data.seller.units}} unidades
          </h5>
        </div>
      </div>
      <div class="row" >
        <div class="large-4 column">
          <h6 class="fecha text-center bold">{{data.date}}</h6>
          <h5 class="text-center mayusculas titulo-dashboard">Ventas realizadas</h5>
          <hr class="bg-negro">
          <p class="dato_dashboard text-center">
            {{data.sells}}
          </p>
        </div>
        <div class="large-4 column">
          <h6 class="fecha text-center bold">{{data.date}}</h6>
          <h5 class="text-center mayusculas titulo-dashboard">Concesionario mas ventas</h5>
          <hr class="bg-negro">
          <p class="dato_dashboard_largo text-center mayusculas">
            {{data.consecionario.name}}
          </p>
          <hr class="bg-negro">
          <h5 class="text-center mayusculas">
            {{data.consecionario.units}} unidades
          </h5>
        </div>
        <div class="large-4 column">
          <h6 class="fecha text-center bold">{{data.date}}</h6>
          <h5 class="text-center mayusculas titulo-dashboard">Vendedor con mas ventas</h5>
          <hr class="bg-negro">
          <p class="dato_dashboard_largo text-center mayusculas">
            {{data.seller.name}}
          </p>
          <hr class="bg-negro">
          <h5 class="text-center mayusculas">
            {{data.seller.units}} unidades
          </h5>
        </div>
      </div>
-->
    </div>
  </body>
</html>
