<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/angular-route.min.js"></script>
    <script type="text/javascript" src="/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="/javascripts/foundation.min.js"></script>

    <script type="text/javascript" src="/javascripts/app_tombola.js"></script>
    <link rel='stylesheet' href='/stylesheets/foundation.min.css' />

    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/normalize.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body class="body_tombola">

    <header>
        <div class="row">
            <div class="large-2 column">
                <img src="/images/logo_chevrolet.png" class="espacio_titulo">
            </div>
            <div class="large-9 large-offset-1 column ">
                <h1 class="title_app espacio_titulo">REGISTRO DE COMPRA</h1>
            </div>
        </div>
    </header>
<!--
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
-->
    <div class="row espacio">
        <div class="large-6 column text-center boton_tipo_user_tombola btn_activo_user_tombola user_old">
            <h3>
                YA ES USUARIO
            </h3>
        </div>
        <div class="large-6 column text-center boton_tipo_user_tombola user_new">
            <h3 style="opacity:1;">
                USUARIO NUEVO
            </h3>
        </div>
    </div>
    <div class="row espacio campos_user_old">
        <div class="large-6 column large-centered">
            <label class="naranja">
                Cedula
            </label>
            <input id="cedula_old" class="input" type="text" placeholder="Cedula Usuario">
        </div>
    </div>

    <div class="campos_user_new">
        <div class="row espacio ">
            <div class="large-6 column large-centered">
                <label class="naranja">
                    Nombre
                </label>
                <input id="nombre_new" class="input" type="text" placeholder="Cedula Usuario">
            </div>
        </div>
        <div class="row espacio ">
            <div class="large-6 column large-centered">
                <label class="naranja">
                    Correo
                </label>
                <input id="correo_new" class="input" type="text" placeholder="Cedula Usuario">
            </div>
        </div>
        <div class="row espacio ">
            <div class="large-6 column large-centered">
                <label class="naranja">
                    Cedula
                </label>
                <input id="cedula_new" class="input" type="text" placeholder="Cedula Usuario">
            </div>
        </div>
        <div class="row espacio ">
            <div class="large-6 column large-centered">
                <label class="naranja">
                    Telefono
                </label>
                <input id="telefono_new" class="input" type="text" placeholder="Cedula Usuario">
            </div>
        </div>
    </div>


    <div class="row espacio">
        <div class="large-6 column large-centered">
            <label class="naranja">
                Cedula Vendedor
            </label>
            <input id="cedula_vendedor" class="input" type="text" placeholder="Cedula Vendedor">
        </div>
    </div>
    <div class="row espacio">
        <!--<img src="/images/fondo-tombola.jpg" id="img-chambon"/>-->

        <div class="large-6 column large-centered">
            <label class="naranja">
                Seleccionar el carro
            </label>
            <select id="carro_compro" class="input select_naranja">
                <option value=""></option>
                <option value="SPARK LIFE SIN AIRE">SPARK LIFE Sin Aire</option>
                <option value="SPARK LIFE CON AIRE">SPARK LIFE Con Aire</option>

                <option value="NUEVO SPARK GT LT con Aire">NUEVO SPARK GT LT con Aire</option>
                <option value="NUEVO SPARK GT LTZ (FULL)">NUEVO SPARK GT LTZ (FULL)</option>
                <option value="NUEVO SPARK GT LT con Aire - Versión RS">NUEVO SPARK GT LT con Aire - Versión RS</option>
                <option value="NUEVO SPARK GT LTZ (FULL) - Versión RS">NUEVO SPARK GT LTZ (FULL) - Versión RS</option>

                <option value="SAIL SEDAN LS sin aire">SAIL SEDAN LS sin aire</option>
                <option value="SAIL SEDAN LS con aire">SAIL SEDAN LS con aire</option>
                <option value="SAIL SEDAN LT">SAIL SEDAN LT</option>
                <option value="SAIL SEDAN LTZ">SAIL SEDAN LTZ</option>

                <option value="SAIL HATCHBACK LT">SAIL HATCHBACK LT</option>
                <option value="SAIL HATCHBACK SPORT LTZ">SAIL HATCHBACK SPORT LTZ</option>

                <option value="SONIC SEDAN LT Mecánico">SONIC SEDAN LT Mecánico</option>
                <option value="SONIC SEDAN LT Automático">SONIC SEDAN LT Automático</option>

                <option value="SONIC HATCHBACK LT Mecánico">SONIC HATCHBACK LT Mecánico</option>
                <option value="SONIC HATCHBACK LT Automático">SONIC HATCHBACK LT Automático</option>
                <option value="SONIC HATCHBACK LT Mecánico - Versión RS">SONIC HATCHBACK LT Mecánico - Versión RS</option>
                <option value="SONIC HATCHBACK LT Automático - Versión RS">SONIC HATCHBACK LT Automático - Versión RS</option>

                <option value="COBALT LTZ Mecánico">COBALT LTZ Mecánico</option>
                <option value="COBALT LTZ Automático">COBALT LTZ Automático</option>

                <option value="CRUZE SEDÁN LS Mecánico">CRUZE SEDÁN LS Mecánico</option>
                <option value="CRUZE SEDÁN LS Automático">CRUZE SEDÁN LS Automático</option>
                <option value="CRUZE SEDÁN LT Automático">CRUZE SEDÁN LT Automático</option>

                <option value="CRUZE HATCHBACK LT Mecánico">CRUZE HATCHBACK LT Mecánico</option>
                <option value="CRUZE HATCHBACK LT Automático">CRUZE HATCHBACK LT Automático</option>

                <option value="CAMARO Versión LZ1">CAMARO Versión LZ1</option>

                <option value="TRACKER LS Mecánica">TRACKER LS Mecánica</option>
                <option value="TRACKER LS Automática">TRACKER LS Automática</option>
                <option value="TRACKER LT Automática">TRACKER LT Automática</option>

                <option value="CAPTIVA SPORT LS Automática">CAPTIVA SPORT LS Automática</option>
                <option value="CAPTIVA SPORT LS Automática con Sunroof">CAPTIVA SPORT LS Automática con Sunroof</option>
                <option value="CAPTIVA SPORT LT Automática">CAPTIVA SPORT LT Automática</option>

                <option value="ORLANDO LT Automática">ORLANDO LT Automática</option>

                <option value="NUEVA TRAVERSE LT Automática">NUEVA TRAVERSE LT Automática</option>

                <option value="TRAILBLAZER LT Mecánica">TRAILBLAZER LT Mecánica</option>
                <option value="TRAILBLAZER LTZ Automática">TRAILBLAZER LTZ Automática</option>

                <option value="TAHOE LT Automática">TAHOE LT Automática</option>
                <option value="TAHOE ELEGANCE 5.3 L LT Automática - ELEGANCE">TAHOE ELEGANCE 5.3 L LT Automática - ELEGANCE</option>

                <option value="N300 MAX CARGO Mecánica">N300 MAX CARGO Mecánica</option>
                <option value="N300 MAX CARGO Mecánica PLUS">N300 MAX CARGO Mecánica PLUS</option>

                <option value="N300 MOVE PASAJEROS Mecánica">N300 MOVE PASAJEROS Mecánica</option>
                <option value="N300 MOVE PASAJEROS Mecánica PLUS">N300 MOVE PASAJEROS Mecánica PLUS</option>

                <option value="DMAX Diesel 4x2 Cabina Sencilla">DMAX Diesel 4x2 Cabina Sencilla</option>
                <option value="DMAX Diesel 4x2 Cabina Doble">DMAX Diesel 4x2 Cabina Doble</option>
                <option value="DMAX Diesel 4x4 Cabina Sencilla">DMAX Diesel 4x4 Cabina Sencilla</option>
                <option value="DMAX Diesel 4x4 Cabina Doble">DMAX Diesel 4x4 Cabina Doble</option>
                <option value="DMAX Diesel 4x4 Cabina Doble FULL">DMAX Diesel 4x4 Cabina Doble FULL</option>

                <option value="TAXI 7:24 Sin Aire">TAXI 7:24 Sin Aire</option>
                <option value="TAXI 7:24 Con Aire">TAXI 7:24 Con Aire</option>

                <option value="TAXI ELITE LS con aire">TAXI ELITE LS con aire</option>
            </select>
        </div>



    </div>
<!--
    <br>
    <br>
    <br>
    <br>
-->
    <div class="row espacio">
        <div class="large-12 column text-center">
            <img id="send" src="/images/btn_enviar_1.png">
        </div>
    </div>
<!--
    <br>
    <br>
    <br>
    <br>
-->
    <div class="row espacio">
        <div class="large-12 column text-center">
            <img src="/images/carro-tombola1.png">
        </div>

    </div>

  </body>
</html>
